.details {
  position: absolute;
  top: 5rem;
  left: 5rem;
  color: white;
  padding: 1rem;
  width: 25rem;
  text-transform: uppercase;
  &::before {
    height: 0.2rem;
    width: 25rem;
    content: "";
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  .name {
    margin-bottom: 1rem;
  }
  button {
    position: absolute;
    right: 0rem;
    bottom: -14.5rem;
    color: white;
    padding: 2rem 7.2rem;
    background-color: transparent;
    border: 0.2rem solid var(--accent-color);
    outline: none;
    font-size: large;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.2rem;
    
  }
  
  background: linear-gradient(
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    $dot-color;
}